section {
    padding: 70px 17% 60px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/group.jpeg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .home-text h5 {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: var(--main-color);
    }

    .home-text h1 {
        font-size: var(--h1-font);
        font-weight: 900;
        line-height: 1.2;
        margin-top: 20px;
    }

    .home-text p {
        font-size: var(--p-font);
        font-weight: 500;
        line-height: 30px;
        color: #ffffffab;
        margin-top: 10px;
        margin-bottom: 35px;
    }
}